<h1>Students#new</h1>
<p>Find me in app/views/students/new.html.erb</p>
<h1>Dar de alta a un nuevo estudiante</h1>

<%= render 'formulario' %>

<!-- esto se reemplazo por la linea de arriba render .....
<%# form_for @datosestudiante do |chamaco| %>
    <p>
        <%# chamaco.label :Control %>
        <%# chamaco.text_field :control %>
    </p>

    <p>
        <%# chamaco.label :Nombre %>
        <%# chamaco.text_area :nombre, rows: 5 %>
    </p>

    <p>
        <%# chamaco.label :ClaveCarrera %>
        <%# chamaco.text_area :clave_carrera %>
    </p>

     <p>
        
        <%# chamaco.submit "Actualizar Estudiante" %>
    </p> 
<%# end %>
-->