<h1>Carreras Disponibles</h1>

<% if @careers.blank? %>

  <p>No hay carreras registradas en la DB</p>

<% else %>

   

    <table border="1">
        <thead>
            <tr>
                <th>Clave de Carrera</th>
                <th>Descripción</th>
            </tr>
        </thead>

        <tbody>
            <% @careers.each do |career| %>
                <tr>
                    <td><%= career.clave_carrera %></td>
                    <td><%= career.descripcion %></td>
                </tr>
            <% end %>
            
        </tbody>
    </table>

<% end %>