 <!-- logo TEC -->
<div class="d-flex flex-row-reverse bd-highlight mb-3 align-items-center">
    <div class="p-2 bd-highlight"><img src="assets/logoTec.png" class="rounded mx-auto d-block"></div>
    <div class="p-2 bd-highlight"><h1>Instituto Tecnologico de Acapulco</h1></div>
</div>